@import "./config";

.newbody {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 20vh;
  padding: 0px 90px 0px 90px;
}

.logo-container h2 {
  font-family: $Mukta;
  font-weight: 800;
  color: $darkGray;
  font-size: 1.6rem;
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header ul li a {
  font-family: $Roboto;
  padding: 30px;
  color: $gray;
  transition: all 0.3s ease-in-out;
}

.header ul li a:hover {
  color: $grayHover;
}

.hamburger-icon {
  font-size: 40px;
  display: none;
}

.header_social {
  display: flex;
  width: 15vh;
  justify-content: space-between;
}
.header_social li a {
  padding: 0px !important;
}
.header_social li:hover {
  color: red;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.header_social li svg {
  height: 20px;
  width: 20px;
}

@media only screen and (max-width: 1244px) {
  .header {
    justify-content: space-between;
    padding: 0;
  }

  .logo-container h2 {
    padding: 30px 30px 30px 30px;
  }

  .menu-link {
    display: none;
  }

  .header ul li a {
    font-family: $Mukta;
    padding: 30px;
    color: $white;
    font-size: 30px;
    font-weight: 600;
  }

  .mobile-menu-link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    margin: 0;
    flex-direction: column;
    backdrop-filter: blur(4px);
    background-color: $transparentBlack;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: 2;
    overflow-y: hidden;
  }

  .mobile-menu-link li {
    padding: 20px;
  }

  .mobile-menu-link li a {
    padding: 0px !important;
  }

  .header_social {
    display: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  @keyframes fadein {
    0% {
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes fadeout {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-5000px);
    }
  }

  .menu-link li {
    margin: 20px;
  }

  .hamburger-icon {
    display: block;
    margin-right: 20px;
    z-index: 2;
    transition: 0.5s ease-in-out;
  }

  .header_social {
    display: none;
  }
}
