@import "./config";

.plans-container {
  & > * {
    & > * {
      & > img {
        width: 100%;
        height: 100vh;
        transition: all 0.3s ease-in-out;
        filter: brightness(0.7);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      }
      & > img:hover {
        filter: brightness(0.4);
      }
    }
    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0;

      & > h1 {
        font-family: "Lobster";
        font-size: 3rem;
        padding: 10px;
      }

      & > ul {
        margin: 0em 0em 1em 0em;

        & > li {
          padding: 0;
          margin: 0;
          list-style: none;
        }

        & > li::before {
          content: "\f058";
          font-family: "FontAwesome";
          float: left;
          margin-left: -1.5em;
          color: green;
        }
      }

      & > p{
        color: $black;
        font-family: $Mukta;
        border: 3px solid $black;
        padding: 5px 15px 5px 15px;
        margin: 0px 10px 10px 10px;
        text-align: center;
      }

      & > .enquire-btn-container {
        & > button {
          border-radius: 6px;
          border: none;
          padding: 8px 30px 8px 30px;
          background-color: $black;
          color: $white;
          font-family: $Mukta;
          transition: all 0.3s ease-in-out;
        }
        & > button:hover {
          background-color: $darkGray;
        }
      }
    }
  }
}

@media only screen and (max-width: 1244px) {
  .plans-container {
    & > * {
      & > * {
        & > img {
          width: 100%;
          height: 50vh;
        }
      }
      & > * {
        padding: 10px;
        & > h1 {
          font-family: "Lobster";
          font-size: 2rem;
          padding: 10px;
          text-align: center;
        }

        & > p{
          font-size: 13px;
        }

        & > ul {
          margin: 0em 0em 1em 0em;
          padding: 10px;

          & > li {
            font-size: 13px;
          }

          & > li::before {
            content: "\f058";
            font-family: "FontAwesome";
            float: left;
            margin-left: 1em;
            padding-right: 6px;
            color: green;
          }
        }

        & > .enquire-btn-container {
          & > button {
            font-size: 13px;
            padding: 6px 25px 6px 25px;
          }
        }
      }
    }
  }
}
